/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  list-style: none;
  text-decoration: none;
}
*::selection {
  background: var(--live-orange-color);
  color: #fff;
}
:root {
  --live-orange-color: #ec3d31;
  --text-color: #1e1c2a;
  --bg-color:rgb(233, 231, 231) ;
  --bg-color-m: #14141481;
  --bg-color-l: #26262637;

  --big-font: 4rem;
  --h2-font: 2.24rem;
  --p-font: 0.9rem;

  --white-color:#e2d5d3;
  --black-color:#040404;
  -—light-brown-text-color:#5d4e4e; 
  --dark-brown-text-color:#292021;
  --dark-gray-text-color:#3c3c3c;
  --light-gray-color:#7c7c7c;
  -—light-gray-hover-color:#727074;

}
section {
  padding: 50px 10%;
}
body.active {
  --bg-color:#1e1c2a  ;
  --text-color:rgb(233, 231, 231);
}
body {
  color: var(--text-color);
  background: var(--bg-color);
}
#darkmode {
  font-size: 25px;
  cursor: pointer;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 100px;
  box-shadow: 0 0.5rem 50rem rgba(0, 0, 0, 0.1);
  background: var(--black-color);
  z-index: 9999;
}
.logo img{
 width: 50px;
}
.logo{
  padding-top: 6px;
}
.navbar {
  display: flex;
}
.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
}
.navbar a:hover {
  color: var(--live-orange-color);
}
#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
  color: red;
}
.home {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  /* background-color: #1e1c2a; */
}
.home-img img {
  width: 80%;
  border-radius: 50%;
}
.home-text h1 {
  font-size: var(--big-font);
  color: var(--live-orange-color);
}
.title-img{
  width: 60%;
}
.home-text h2 {
  font-size: var(--h2-font);
  margin: 1rem 0 1rem;
}
.btn {
  display: inline-block;
  background: var(--live-orange-color);
  padding: 10px 20px;
  border-radius: 0.5rem;
  color: #fff;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  align-items: center;
  background-color: var(--bg-color-l);
}
.about-img img {
  max-width: 80%;
  border-radius: 0.5rem;
}
.about-text span {
  color: var(--live-orange-color);
  font-weight: 500;
}
.about-text h2 {
  font-size: var(--h2-font);
}
.about-text p {
  margin: 0.8rem 0 1.8rem;
}
.heading {
  text-align: center;
}
.heading span {
  color: var(--live-orange-color);
  font-weight: 500;
}
.heading h2 {
  font-size: var(--h2-font);
}
.menu-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 40px;
}
.box {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 4px 18px var(--text-color);
  padding: 10px;
}
.box-img {
  width: 240px;
  height: 240px;
  padding: 30px 0;
}
.box-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.box h2 {
  font-size: 1.2rem;
}
.box h3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 4px 0 10px;
}
.box span {
  font-size: var(--p-font);
  font-weight: 500;
}
.box .bx {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  background: var(--live-orange-color);
  border-radius: 0 0.5rem 0 0.5rem;
  padding: 5px 8px;
}

.services{
  background-color: var(--bg-color-l);
  padding-bottom: 80px;
}
.services-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
 
}
.s-box {
  padding: 20px;
  text-align: center;
}
.s-box img {
  width: 100px;
}
.s-box h3 {
  margin: 4px 0 10px;
}
.connect {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top:1.4px solid var(--live-orange-color) ;
}
.connect-text span {
  color: var(--live-orange-color);
  font-weight: 500;
   
}
.connect-text h2 {
  font-size: var(--h2-font);
  
}
.banner img{
  width: 100%;
}
.banner {
  width: 100%;
 padding: 0;
}
.social {
  display: flex;
  margin-top: 1.5rem;
}
.social i {
  font-size: 20px;
  margin-right: 16px;
  color: var(--text-color);
}
.social i:hover {
  color: var(--live-orange-color);
}
.contact {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  padding-bottom: 0;
  padding-top: 0;
}
.contact-box{
  padding: 26px 0;
  width: 100%;
  padding-left: 10px;
}
.contact-box h3 {
  margin-bottom: 1rem;
}
.contact-box li a {
  color: var(--text-color);
}
.contact-box li a:hover {
  color: var(--live-orange-color);
}
.address {
  display: flex;
  flex-direction: column;
}
.address i {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.address span {
  margin-left: 1rem;
}
.copyright {
  padding: 20px;
  text-align: center;
}
@media (max-width: 921px) {/* --------------------------- */
  
  .services-container{
    flex-direction: column;
  }
  .services-container>div{
      padding: 40px 80px;
  }
  .menu-container{
    flex-direction: column;
  }
  .social{
    justify-content: center;
  }
  .contact{
    flex-direction: column;
  }
  .contact-box{
    width: 100%;
    text-align: center;
  }
 
  header {
    padding: 14px 41px;
  }
  :root {
    --big-font: 3rem;
    --h2-font: 1.7rem;
  }
}
@media (max-width: 768px) {/* --------------------------- */
  section {
    padding: 50px 8%;
  }
  #menu-icon {
    display: initial;
    color: var(--text-color);
  }
  header .navbar {
    position: absolute;
    height: 100vh;
    top: -100vh;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--bg-color);
    box-shadow: 0 4px 4px rgb(100 0 0 / 10%);
    transition: .6s ease;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a {
    padding: 1.5rem;
    display: block;
    background: var(--bg-color);
  }
  #darkmode {
    position: absolute;
    top: 1.4rem;
    right: 2.9rem;
  }
}
@media (max-width: 715px) { /* --------------------------- */
  header {
    padding: 10px 16px;
  }
  .home {
    grid-template-columns: 1fr;
  }
  home-text h1{
    margin-top: 40px;
  }
  .about {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about-img {
    order: 2;
  }

}
@media (max-width: 515px) {/* --------------------------- */
  .connect {
    flex-direction: column;
  }
  .connect .btn {
    margin-top: 1rem;
  }
}
@media (max-width: 450px) {/* --------------------------- */
  :root {
    --big-font: 2rem;
    --h2-font: 1.4rem;
  }
  .home-text {
    padding-top: 4rem;
  }
}
@media (min-width: 769px) {
  .navbar a {
    color:white ;
  }
  
  .navbar {
    color:white ;
   
  }
}
.bx-menu{
  background-color: var(--live-orange-color);
  border-radius: 3px;
}

